<h1>Listing trips</h1>

<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Like</th>
    <th>Begin on</th>
    <th>End on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trips.each do |trip| %>
  <tr>
    <td><%= trip.title %></td>
    <td><%= trip.user_id %></td>
    <td><%= trip.like %></td>
    <td><%= trip.begin_on %></td>
    <td><%= trip.end_on %></td>
    <td><%= link_to 'Show', trip %></td>
    <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
    <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trip', new_trip_path %>
