<p id="notice"><%= notice %></p>
<div class="row">
  <div class="small-3 large-3 columns panel">
    <span class="small-text">
      <%= current_user.first_name %> <%= current_user.last_name %><br />
      Feeling <%= current_user.mood %><br />
      Currently in <%= current_user.current_location %><br />
      From <%= current_user.home_base %><br />
      Goal: <%= current_user.goal %><br />
      Bio: <%= current_user.bio %><br />
    </span>
    <br />
    <br />
    <div>
      <span class="panel">
        Friends
      </span>
      <ul class="small-text">
        <% current_user.friendships.each do |friendship| %>
          <li>
            <%= friendship.friend.first_name %>
            (<%= link_to "X", friendship, :method => :delete %>)
          </li>
        <% end %>

        </ul>
    </div>
  </div>
  <div class="small-9 large-9 columns">
    <div class="row">

      <div class="small-1 large-1 columns">
      </div>
      <div class="small-11 large-11 columns">
        <h3>
          <%= @trip.title %>
        </h3>
        <span>
          <%= @tag_list.inspect %>
        </span>
        <strong>Cities on Trip</strong>
        <ul>
          <% @trip.cities.each do |i| %>
            <li class="panel small-text">
              <div>
                <%= i.name %><br />
                <%= i.country %><br />
                <%= i.created_at.strftime("%B %-d, %Y %-l:%M %p") %><br />
                <%= i.updated_at.strftime("%B %-d, %Y %-l:%M %p") %><br />
              </div>
              <strong>Iteneraries</strong>
              <ul class="panel small-text">
                <% i.iteneraries.each do |n| %>
                  <li><%= n.item %></li>
                  <li><%= "This is a thing to do" if n.activity_to_do %></li>
                  <li><%= "This is a place to eat" if n.place_to_eat %></li>
                  <li><%= "This is a place to sleep" if n.place_to_sleep %></li>
                  <li><%= n.created_at.strftime("%B %-d, %Y %-l:%M %p") %></li>
                  <li><%= n.updated_at.strftime("%B %-d, %Y %-l:%M %p") %></li>
                <% end %>
              </ul>
            </li>
        <% end %>
        </ul>
        <hr />
        <%= link_to 'Edit', edit_trip_path(@trip) %>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="small-3 large-3 columns panel">
  </div>
  <div class="small-1 large-1 columns">
  </div>
  <div class="small-8 large-8 columns panel">

  <%= @comments.inspect %>

  </div>

</div>