<%= form_for(@companionship) do |f| %>
  <% if @companionship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@companionship.errors.count, "error") %> prohibited this companionship from being saved:</h2>

      <ul>
      <% @companionship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :companion_id %><br />
    <%= f.number_field :companion_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
