%div.comment{ :id => "comment-#{comment.id}", :class => "row" }
  %hr
  %div{ :class => "small-3 large-3 columns" }
    = image_tag current_user.gravatar_url
  %div{ :class => "small-9 large-9 columns" }
    %h6{:class => "comp-title-box" }= comment.user.first_name
    %small{:class => "right" }= comment.updated_at.strftime("%B %-d, %Y %-l:%M %p")
    %br
    %span= comment.body
    = link_to "×", comment_path(comment), :method => :delete, :remote => true, :confirm => "Are you sure you want to remove this comment?", :disable_with => "×", :class => 'close right'