<h1>Listing users</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Mood</th>
    <th>Home base</th>
    <th>Current location</th>
    <th>Bio</th>
    <th>Goal</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Invite</th>

  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.mood %></td>
    <td><%= user.home_base %></td>
    <td><%= user.current_location %></td>
    <td><%= user.bio %></td>
    <td><%= user.goal %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td>
        <% if current_user.friendships.size > 0  && user.id != current_user.id && %>
            <% current_user.friendships.each do |i| %>
                <% if i.friend_id == user.id %>
                    <%= link_to "Remove Friend", i, :method => :delete %>
                <% end %>
            <% end %>
        <% elsif user.id == current_user.id %>
            ###
        <% end %>
        <span>
            <%= link_to "+", friendships_path(:friend_id => user), :method => :post %>
        </span>
    </td>
    <td>
        <% if current_user.companionships.size > 0  && user.id != current_user.id && %>
            <% current_user.companionships.each do |i| %>
                <% if i.companion_id == user.id %>
                    <%= link_to "Remove Companion", i, :method => :delete %>
                <% end %>
            <% end %>
        <% elsif user.id == current_user.id %>
            ###
        <% end %>
        <span>
            <%= link_to "Add Companion", companionships_path(:companion_id => user), :method => :post %>
        </span>
    </td>
  </tr>
<% end %>
</table>

<br />
<%= current_user.friendships.inspect %><br />
<%= current_user.companionships.inspect %><br />

<%= link_to 'New User', new_user_path %>
