<br />
<br />
<div class="row light-box-sign-up">
<p id="notice"><%= notice %></p>

<p><%= image_tag current_user.gravatar_url :class => "" %>
</p>
<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Mood:</b>
  <%= @user.mood %>
</p>

<p>
  <b>Home base:</b>
  <%= @user.home_base %>
</p>

<p>
  <b>Current location:</b>
  <%= @user.current_location %>
</p>

<p>
  <b>Bio:</b>
  <%= @user.bio %>
</p>

<p>
  <b>Goal:</b>
  <%= @user.goal %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>