<div class="form-container">

  <%= form_for(@itenerary) do |f| %>
    <% if @itenerary.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@itenerary.errors.count, "error") %> prohibited this itenerary from being saved:</h2>

        <ul>
        <% @itenerary.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field ">
      <%= f.label :item %><br />
      <%= f.text_field :item %>
    </div>
    <div class="field inline-block">
      <%= f.check_box :activity_to_do %>
      <%= f.label :activity_to_do %>

    </div>
    <div class="field inline-block">
      <%= f.check_box :place_to_eat %>
      <%= f.label :place_to_eat %>
    </div>
    <div class="field inline-block">
      <%= f.check_box :place_to_sleep %>
      <%= f.label :place_to_sleep %>
    </div>
    <div class="actions inline-block">
      <%= f.submit %>
    </div>
  <% end %>
</div>