
<div class="form-container">
  <%= form_for(@city) do |f| %>
    <% if @city.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@city.errors.count, "error") %> prohibited this city from being saved:</h2>

        <ul>
        <% @city.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :country %><br />
      <%= f.text_field :country %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>

    <%= f.fields_for :iteneraries do |builder| %>
      <%= render 'itenerary_fields', f: builder %>
    <% end %>

    <%= link_to_add_fields "Add Activity", f, :iteneraries %>
  <% end %>
</div>